<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="chankyin.mentamatics">

	<application
			android:name=".Main"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<activity android:name=".ui.main.HomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.pref.PrefActivity" android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
	</application>

</manifest>